html {
    background-color: rgb(255, 254, 246);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 90vw;
    max-height: 90vh;
}

p {
    color: #5a7ebc;
    font-family: Helvetica, Arial, sans-serif;
}
