@font-face {
    font-family: "Overused Grotesk";
    src: url("fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
    font-weight: 300 900;
}

body {
    margin: 0;
    font-family: 'Overused Grotesk', Helvetica, Arial, sans-serif;
    background-color: #FFF8E7;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

#content {
    margin: auto;
    max-width: 99ch;
    color: #164238;
    overflow: hidden;
}

#content > div {
    padding: 1rem;
}

#div-1 {
    color: #FFFEF7;
    background-color: #164238;
}

#div-1 img {
    margin: 0 0 0 2rem;
}

#div-2 {
    background-color: #FFFEF7;
    position: relative;
    min-height: 320px;
}

#div-2 img.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

#div-2 img.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem 3rem;
}

#div-2 #heading-div {
    position: absolute;
    max-width: 50ch;
    top: 40px;
    right: 35px;
}

#div-2 #heading-div p {
    margin-top: -1rem;
    font-style: italic;
    font-weight: bold;
}

#div-3 {
    background-color: #E2E479;
}

#div-4 {
    background-color: #FFFEF7;
}

#div-5 {
    background-color: #CCD3E3;
}

#div-6 {
    background-color: #FFFEF7;
}

#div-7 {
    background-color: #DEC1DD;
}

#div-8 {
    background-color: #FFFEF7;
}

#div-9 {
    background-color: #FFFEF7;
}

#div-9-1 {
    background-color: #FFFEF7;
}

#div-10 {
    color: #FFFEF7;
    background-color: #164238;
}

#div-11.content-footer {
    color: #FFFEF7;
    background-color: #164238;
    padding: 3rem;
    display: flex;
}

#div-11.content-footer img {
    max-width: 100px;
}

.center-div {
    margin: auto;
    max-width: 70ch;
    padding: 1rem 1.5rem;
}

.images {
    margin: 4rem auto;
    max-width: min(70ch, 100%);
}

.tall {
    max-height: 80vh;
}

.two-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 1rem 0;
}

.two-side {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.two-side > img:first-of-type {
    padding-bottom: 1rem;
}

.two-one > img {
    max-width: 67%;
}

.two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.two img {
    max-width: 50%;
}

.two-wide {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.two-wide img {
    margin: 0;
}

.two-wide img:nth-child(1) {
    max-width: 20%;
    border: solid 1px lightgrey;
}

.two-wide img:nth-child(2) {
    max-width: 60%;
}

.three-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem 4rem;
    gap: 1rem;
}

.three-three img {
    width: 100%;
    aspect-ratio: 9 / 12;
    object-fit: cover;
    display: block;
}

.three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.three img {
    max-width: 30%;
}

.two-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#div-9.full-bleed {
    padding: 0;
}

.note {
    color: #16423855;
}

.content-footer > p {
    position: absolute;
    font-weight: bold;
    /* bottom: 20px; */
}

.content-footer a {
    text-decoration: none;
    color: inherit;
}

.content-footer > img {
    display: block;
    margin: auto;
}

.image-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1rem;
    margin: 1rem -1rem;
}

.image-slide img {
    max-width: 20%;
    border-radius: 5px;
}

a.download-button {
    text-align: center;
    background-color: #FFF8E7;
    color: #164238;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    width: min-content;
    margin-top: 1rem;
}

@media (max-width: 840px) {
    #div-2,
    #div-2 #heading-div,
    #div-2 img.bottom-left,
    #div-2 img.bottom-right {
        position: inherit;
    }
    #div2 img.bottom-right {
        padding: 0;
    }
    #div-2 img.bottom-left {
        margin-left: -1rem;
        margin-bottom: -1rem;
    }
}

@media (max-width: 600px) {
    #div-11.content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-footer > p {
        position: relative;
        text-align: center;
    }
    .three-three {
        margin: 0
    }
}